modules = ["nodejs-20", "web", "bash"]
run = "npm run start"

[nix]
channel = "stable-24_05"
packages = ["elmPackages.elm"]

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 8000
externalPort = 80
